.Students {
  &-Input {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  h2 {
    text-align: center;
  }
}

.Changemode {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 850px) {
  .Changemode {
    flex-direction: column;
    button {
      margin: 10px 0;
    }
  }
}
