.Navbar {
    &-Wrap{
        background: #181820;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
    &-List {
        margin: 0;
        padding: 0;

    }
}

.List {
    display: flex;
    justify-content: space-around;
    &-Item {
        list-style-type: none;
    }
}

.Item {
    &-Link {
        text-decoration: none;
        color: white;

    }
}