.Changeditemcomponent {
  background: white;
  padding: 30px;
  border-radius: 0 5px 5px 5px;
  min-height: 508px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &-Contacts {
    font-family: HelveticaNeueCyr, sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    max-width: 561px;
    margin: 0 auto;
    span {
      color: red;
    }
  }
}
